@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

/* Estilização das setas do carrossel */
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 32px; /* Mantém o tamanho das setas */
    font-weight: bold;
    opacity: 1;
    color: #FFD700; /* Cor amarela para combinar com o design */
    letter-spacing: -2px;
    transition: all 0.4s ease; /* Suaviza as transições */
    transform: scale(0.9); /* Leve redução inicial para criar efeito de destaque no hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Adiciona uma sombra para destaque */
}

/* Posicionamento das setas */
.slick-prev {
    left: -40px;
}

.slick-next {
    right: -40px;
}

/* Definindo os ícones das setas */
.slick-prev:before {
    content: '\003C'; /* Código unicode para '<' */
}

.slick-next:before {
    content: '\003E'; /* Código unicode para '>' */
}

/* Efeito de hover dinâmico nas setas */
.slick-prev:hover:before,
.slick-next:hover:before {
    color: #FFFFFF; /* Muda a cor para branco ao passar o mouse */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Aumenta a sombra para mais destaque */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    animation: pulse-rotate 0.6s ease-in-out; /* Animação suave ao passar o mouse */
}

/* Definição da animação de pulso e rotação */
@keyframes pulse-rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(15deg); /* Maior aumento de tamanho e rotação */
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
